#entire-bag {
  background: #f0eae7;
  padding: 1rem;
  margin-left: -1rem;
  margin-right: -2rem;
}
#line-item-in-bag {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  font-family: 'Lato';
  font-size: 1rem;
  color: black;
  background-color: white;
  padding: 1rem;
  width: 20rem;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

#line-name {
  font-weight: bold;
}

#line-img {
  height: 5rem;
  width: 5rem;
}

#delete-button {
  display: flex;
  height: fit-content;
}
