#entire-bag {
  background: #c7cea1;
  border: thin solid black;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  /* width: 75%; */
  display: flex;
  align-self: center;
  margin-right: 3rem;
  margin-left: 2rem;
  margin-top: 1rem;
  padding-right: 2rem;
}

#all-items {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

#line-item-in-bag {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  font-family: 'Lato';
  font-size: 1rem;
  color: black;
  background-color: white;
  padding: 1rem;
  width: 20rem;
  margin: 1rem;
  justify-content: space-around;
  border: thin solid black;
  height: 6rem;
}

#line-name {
  font-weight: bold;
}

#line-img {
  height: 5rem;
}

#delete-button {
  display: flex;
  height: fit-content;
}

#delete-button:hover {
  font-weight: bold;
  background-color: #087e8b;
  color: white;
}

#total-container,
#empty-container {
  font-family: 'Lato';
  font-weight: bold;
  /* margin: 1rem; */
  background-color: white;
  padding: 1rem;
  width: 25rem;
  margin: 1rem;
  border: thin solid black;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#empty-container {
  /* width: 100% !important; */
  justify-content: center !important;
  width: 100%;
}

#low-stock-notification {
  color: purple;
  font-size: small;
}

#promo {
  display: flex;
  flex-direction: row;
}

#checkout-button {
  padding: 0.5rem;
}

#units-and-price div {
  margin-bottom: 0.5rem;
}

#total-details {
  border-bottom: thin solid black;
}

.total-group {
  display: flex;
  justify-content: space-between;
}

#grand-total {
}

#promo-message {
  font-style: italic;
  font-size: 0.75rem;
  color: purple;
  margin: 0.2rem;
  height: 1rem;
}

#promo-container {
  display: flex;
  flex-direction: column;
}

.discount {
  color: red;
}

.no-discount {
  color: black;
}
