img.product {
  height: 20rem;
  transition: all 0.3s ease-in-out 0s;
}

img.product:hover {
  cursor: default;
  transform: rotate(10deg);
  transition: all 0.3s ease-in-out 0s;
  border: thin solid black;
  background: white;
}

.single-product-container {
  background-color: white;
  width: 20rem;
  margin: 1rem;
  text-align: center;
  font-family: 'Trispace', sans-serif;
}

/* .single-product-container:hover {
  cursor: default;
  transform: rotate(10deg);
  transition: all 0.3s ease-in-out 0s;
  border: thin solid black;
} */
.all-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-title {
  color: black !important;
}
