#order-confirmation {
  /* background-color: white; */
  width: 100%;
}

#confirmation-header {
  font-family: 'Trispace';
  font-size: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: thin solid black;
}

#details {
  font-family: 'Lato';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.order-confirmation div {
  margin: 1rem;
  text-align: center;
}

#details img {
  height: 10rem;
}

.line-item-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  border: thin solid black;
  width: 10rem;
  background-color: white;
}
