#logo {
  font-family: 'Trispace', sans-serif;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#logo a {
  color: #c7cea1 !important;
}

.links {
  text-align: center;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  /* display: inline-block; */
  margin: 1em;
  color: white !important;
  text-decoration: none !important;
  font-family: 'Lato', sans-serif;
  height: 0.5rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

a {
  /* color: #edddd4 !important; */
  color: #f0eae7 !important;
  text-decoration: none !important;
}

a:hover {
  font-weight: bold;
}

/* nav {
  border-bottom: thin solid #edddd4;
} */

#subtitle {
  font-size: 1rem;
  color: white;
  font-style: italic;
}

#bag {
  height: 4rem;
  position: absolute;
}

#shopping-bag-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#quantity {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  color: white !important;
}

.account-details {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  justify-content: flex-end;
  color: white !important;
  /* background-color: white;
  width: 101vw;
  margin-left: -1rem; */
}

#navbar {
  /* border-bottom: thin solid #edddd4;
  border-bottom-width: 0.25rem; */
  /* background-color: white;
  width: 101vw;
  margin-left: -1rem; */
}

#app > div > div:nth-child(1) > div.account-details > div {
  margin-right: 2rem;
  color: white !important;
}

#app > div > div:nth-child(1) > div.account-details > a:nth-child(2) {
  color: white !important;
}

#app > div > div:nth-child(1) > div.account-details > a:nth-child(1) {
  color: white !important;
  margin-right: 1rem;
}

.true {
  background-color: white !important;
  color: black !important;
  border: thin solid black;
}
