#homepage {
  background-color: white;
  height: 100vh;
  margin-left: -1rem;
  margin-right: -1rem;
}

#main {
  margin-bottom: 1rem;
}
.main {
  font-family: 'Trispace';
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: maroon;
}

.prices {
  display: flex;
  justify-content: space-around;
}

.prices div {
  background-color: white;
  padding: 1rem;
  border: thin solid rgb(52, 94, 52);
  font-family: 'Lato';
  margin: 1rem;
  width: 5.2rem;
  text-align: center;
  color: rgb(52, 94, 52) !important;
  font-weight: bold;
}

.prices div:hover {
  font-weight: bold;
  color: white !important;
  background-color: rgb(52, 94, 52);
}

#tier-2,
#tier-3 {
  justify-content: center;
  margin: 1rem;
}

#shop-all {
  border: thin solid rgb(121, 81, 81);
  color: rgb(121, 81, 81) !important;
}

#shop-all:hover {
  background-color: rgb(121, 81, 81);
  color: white !important;
}

/* star */
#star-container {
  display: flex;
  justify-content: center;
  width: 96%;
}

#star {
  text-align: center;
  /* width: 0px;
  height: 0px; */
  border-radius: 100%;
  box-shadow: 0 0 200px 20px #fc0, 0 0 200px 20px rgb(240, 227, 174);
  background-color: rgb(240, 227, 174);
  width: 0px;
  margin-right: 5px;
}
.star__part {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;

  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 0.3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 24px;
}
.star__part:before,
.star__part:after {
  content: '';

  display: block;
  width: 0;
  height: 0;

  position: absolute;
  top: 0.6em;
  left: -1em;

  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 1em solid transparent;

  transform: rotate(-35deg);
}

.star__part:after {
  transform: rotate(35deg);
}
